* {
    box-sizing: border-box;
  }
  
  .box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
  }
  
  #two {
    position: relative;
    top: 20px;
    left: 20px;
    background: blue;
  }
  #four {
    position:absolute;
    top:30px;
    left:40px;
    background-color: brown;
  }
  #one {
    position:fixed;
    top:90px;
    left:60px;
    background-color:aqua;
  }

#three {
    position:static;
    top:100px;
    bottom:40px;
    background-color: black;
}  