.custom-card {
  width: 150px;
  height: 200px;
  display: inline-flex;
  border: 1px solid #ddd;
  flex-direction: column;
  border-radius: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLV70XY-gRvaEtrAYDuQZQRXP8Djv4DpjXRw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 90px;
}

.card-content h1 {
  font-size: 20px;
  color: white;
  text-align: center;
}

.image-content {
  display: flex;
  justify-content: space-between;
}
