.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 10px;
}

.first {
  display: flex;
  align-items: center;
}

.first i {
  margin-right: 10px;
}

.second {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.second label {
  font-weight: bold;
  margin-bottom: 10px;
}

.second ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.second li {
  margin-bottom: 5px;
}

.second a {
  text-decoration: none;
  color: #333;
}
